[Unit]
Description=Move files from /bash_callback/create to /var/spool/asterisk/outgoing
After=network.target,asterisk

[Service]
ExecStart=/bin/bash /bash_call/callback/asterisk/mvtooutgoingdir.sh
Restart=always

[Install]
WantedBy=multi-user.target

